langchain==0.3.27
langchain-community==0.3.27
langchain-google-genai==2.0.10
langchain-huggingface==0.1.2
python-dotenv==1.1.1
streamlit==1.47.1
faiss-cpu==1.14.3
sentence-transformers==5.0.0
InstructorEmbedding==1.0.1
tiktoken==0.10.0
protobuf>=5.29.6,<6
ddgs==9.14.4

