langchain==0.3.27
langchain-community==0.3.27
langchain-google-genai==2.1.8
langchain-huggingface==0.3.1
python-dotenv==1.1.1
streamlit==1.47.1
faiss-cpu==1.14.3
sentence-transformers==5.0.0
InstructorEmbedding==1.0.1
protobuf>=6.31.1,<8
ddgs==9.14.4